<h1>Edit collection</h1>

<%= render "form" %>


<div class="row">
  <div class="small-12 large-9 columns warning">
		<strong>WARNING:</strong> The link below will permanently delete your collection. This can't be undone!
		<%= form_tag(collection_path(@collection.id), method: :delete) do %>
		  <%= submit_tag "Delete collection", class: "delete-link" %>
		<% end %>
	</div>
</div>