<% content_for :sidebar_meat do %>
	<strong><%= link_to "â†  Back to search", query_path, class: "button tiny c-secondary" %></strong>
<% end %>

<h1>New collection</h1><br>
<p class="compact-para">In Transiterm, collections are groups of related terminology. For example, you might have separate collections for different clients, for work and school, or for different classes. You can search multiple collections at once, as long as they include the same languages.</p>

<%= render 'form' %>
