<% content_for :sidebar_meat do %>
	<strong><%= link_to "â†  Back to search", query_path, class: "button tiny c-secondary" %></strong>
<% end %>

<h1>New collection</h1><br>
<p class="compact-para">In Transiterm, collections are groups of related terminology. For example, you might have separate collections for work and school, for different classes, or for different clients. Note that you can search any combination of your collections at once.</p>

<%= render 'form' %>
