<h1>New collection</h1>
<blockquote>In Transiterm, collections are groups of related terminology. For example, you might have separate collections for work and school, for different classes, or for different clients. You can search any combination of your collections at once.</blockquote>

<%= render 'form' %>
