<div class="row" id="formatting-guide">
	<div class="small-12 columns no-padding">
		<h6>Formatting Guide</h6>

			<p>&nbsp *<em>italic</em>*</p>
			<p>&nbsp **<strong>bold</strong>**</p>
			<p>&nbsp ***<strong><em>bold and italic</strong></em>***</p>
			<p>&nbsp _underline_</p>
			<p>&nbsp ~~<del>strikethrough</del>~~</p>
			<p>&nbsp ==<mark>highlight</mark>==</p>
			<p>&nbsp normal^(<sup>superscript</sup>)</p>
			<p>&nbsp <a>http://link.com</a></p>
			<p>&nbsp <a>www.link.com</a></p>

	</div>
</div>