<tr class="term-record">
	<% columns = @collection.active_languages %>
	<% columns.each do |title| %>
		<td><%= term_record.send(title.downcase) %></td>
	<% end %>
	<td><%= term_record.source.name %></td>
	<td><%= term_record.domain.name %></td>
	<td></td>
</tr>