<h2>Add term record</h2>
<i class="fa fa-info-circle fa-lg"></i>  Want to import multiple term records from an Excel file? Try the <%= link_to "Excel importer", new_excel_import_path, class: "normal-link" %>.

<%= render "form" %>