<h2>Add term record</h2>
Want to import multiple term records from an Excel file? Try the <%= link_to "Excel importer", new_excel_import_path, class: "normal-link" %>.<br>
Struggling to fill a required field? Try entering "** **". Transiterm will then display a line like this:
<hr id="horizontal-rule-example">

<%= render "form" %>