<div class="row">
	<div class="small-9 small-offset-3 medium-offset-2 columns">
		<h2>Log in to Transiterm</h2>
		Need an account? <%= link_to "Register here", new_user_path %>

		<%= render 'form' %>
	</div>
</div>