<h2>Create Transiterm Account</h2>
 <div class="panel">
  <h4>Transiterm is currently in Beta.</h4> Sign up now and your account will be <strong>FREE</strong> for life! In return, I ask that you report any bugs you may encounter and give me a suggestion or two to make Transiterm even better!
 </div>

<%= render 'form' %>