<% content_for :sidebar_meat do %>
	<strong><%= link_to "â†  Back to account", edit_user_path(current_user), class: "button tiny c-secondary" %></strong>
<% end %>

<h1></h1><br>
<p class="compact-para"></p>
