<h1>Transiterm Features</h1>

<div class="row ppt">
  <div class="medium-6 columns">
    <h4>Main interface</h4>
    <ul class='feature-list'>
      <li>Clean and user-friendly display</li>
      <li>Two sizes (standard, narrow) available in both English and French</li>
      <li>Large fields that accept rich-text formatting (fonts, colour, italics, etc.)</li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <h4>Search</h4>
    <ul class='feature-list'>
      <li>Simple and powerful search</li>
      <li>Possible to find related lexical forms in the English, French and Definition/Usage fields by entering common portion of root</li>
      <li>All five fields (English, French, Definition/Usage, Source, Domain) are searchable</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns">
    <h4>Add/modify record</h4>
    <ul class='feature-list'>
      <li>Autocompletion and drop-down menu of previously used sources and domains</li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <h4>Import</h4>
    <ul class='feature-list'>
      <li>Import records from another program using a simple template (instructions here)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="medium-6 columns">
    <h4>Backup</h4>
    <ul class='feature-list'>
      <li>Easily back up to either Excel or XML </li>
      <li>XML backups retain rich-text formatting </li>
      <li>Excel backups are fully human-readable </li>
    </ul>
  </div>
  <div class="medium-6 columns">
    <h4>Six printout options</h4>
    <ul class='feature-list'>
      <li>Print in either direction (Fr-En or En-Fr) in simple alphabetical order, grouped by source or grouped by domain</li>
    </ul>
  </div>
</div>

<div class='ppt'>
  <ul id="v1-orbit" data-orbit data-options="slide_number: false; resume_on_mouseout: true; timer: false; next_on_click: true; timer_speed: 1000">
    <li>
      <%= image_tag("v1_screenshots/ENinterface.jpg", alt: "English interface") %>
      <div class="orbit-caption">English interface</div>
    </li>
    <li>
      <%= image_tag("v1_screenshots/FRinterface.jpg", alt: "French interface") %>
      <div class="orbit-caption">French interface</div>
    </li>
    <li>
      <%= image_tag("v1_screenshots/PrintSample.jpg", alt: "Print sample") %>
      <div class="orbit-caption">Print sample</div>
    </li>
  </ul>
</div>
