<div>
	<h1>Transiterm</h1>
	<h2>Terminology management made simple</h2>

	<p>Transiterm is a personal terminology management solution that offers all the essentials in an elegant package. It has a straightforward, easy-to-learn interface that lets you dive right in and focus on the information, not the software.</p>
	<%= link_to "Sign up", new_user_path, class: "button" %>
</div>