<div class="row feature-section">
  <div class="large-4 medium-offset-1 columns feature-header">
    <%= image_tag("transiterm-500px.png") %>
    <h1 class="hide">Transiterm</h1>
    <h2 class="subheader">Simple terminology management</h2>
  </div>
  <div class="large-6 columns feature-para">
    <p class="top-padded">Transiterm was designed with translation students in mind, and it is also great for anyone who wants an easy way to keep track of their own terminology solutions without having to learn how to use a complicated (and expensive) program that has far more features than they want or need. </p>
    <div class="button-centerer">
      <%= link_to "Get it now", download_path, class: "button medium" %>
      <%= link_to "Learn more >>", features_path, class: "button medium secondary inline" %>
    </div>
  </div>
</div>
