p.compact-para {
		font-size: 90%;
		margin-bottom: 0;
}

.search-bar {
	form {
		margin-top: 3rem;
	}

	input[type="text"] {
		border: 1px solid $c-bg-primary;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}

	select, input[type="submit"], input[type="text"] {
		margin: 0;
	}

	#match-box label, #match-box input {
		font-size: 90%;
		margin: 0;
	}
}

.records-table {
	margin-top: 1.5rem;
	width:95%;

	thead {
		background-color: $c-bg-secondary;
	}

	.source-column {
		width: 20%;
	}

	.domain-column {
		width: 20%;
	}

}
