p.compact-para {
		font-size: 90%;
		margin-bottom: 0;
}

.records-table {
	margin-top: 3em;
	width:95%;

	thead {
		background-color: $c-bg-secondary;
	}

	.source-column {
		width: 20%;
	}

	.domain-column {
		width: 20%;
	}

}
