p.compact-para {
		font-size: 90%;
		margin-bottom: 0;
}

.search-bar {
	form {
		margin: 2rem 0;
	}

	input[type="text"] {
		border: 1px solid $c-bg-primary;
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}

	select, input[type="submit"], input[type="text"] {
		margin: 0;
	}

	#match-box label, #match-box input {
		font-size: 90%;
		margin: 0;
	}
}

.records-table {
	margin-top: 1.5rem;
	width:95%;

	thead {
		background-color: $c-bg-secondary;
	}

	.term-record {
		border-top: 1px solid $c-bg-secondary;
	}

	tr.record-expand {
		position: relative;

		.edit-button {
			right: 10px;
			bottom: 10px;

			&:visited {
				color: $c-text-secondary;
			}
		}
	}

	.term-record, .record-expand {
		background-color: lighten($c-bg-secondary, 12);
	}

	.source-column {
		width: 20%;
	}

	.domain-column {
		width: 20%;
	}

	.expanded-cell {
		padding: 0.75em 3em 0.75em 3em;
		font-size: 0.75rem;

		small {
			font-size: 0.55rem;
			padding-top: 0.5em;
		}

		.optional-field {
			display: block;
		}
	}

	form {
		display: inline;
		margin: 0;
		padding: 0;
	}
}

.warning {
	.delete-link, .delete-link:visited, a, a:visited {
			background: none;
			border: none;
			color: $c-link-unchanging;
		  text-decoration: none;
		  padding: 2px 6px 3px;
	}
}

.warning {
	border-top: 1px solid $c-bg-primary;
	font-size: 0.7rem;
}
