.indented {
	margin-left: 1rem;
}

.uploader {
	font-size: 1rem;
}

.tip-box {
	width: 80%;
	margin: 2em;
	background-color: $c-bg-secondary;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em;
}

.no-links a {
	display: none;
}

#please-wait-modal {
	height: 75%;
	text-align: center;

	.valign-content {
		position: absolute;
		width: inherit;
		height: 16rem;
		padding: 1rem;
		top: 50%;
		margin-top: -7rem;
	}
}