.indented {
	margin-left: 1rem;
}

.uploader {
	font-size: 1rem;
}

.tip-box {
	width: 80%;
	margin: 2em;
	background-color: $c-bg-secondary;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em;
}