.full-height {
	min-height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

html {
	position: relative;

	body {
		height: 100%;
		position: static;

		.close {
			display: none;
		}
	}

	main {
		padding-top: 2em;

		a.regular-link, a.regular-link:visited {
			color: $c-link-unchanging;
			text-decoration: underline;
		}

		a:hover {
			background-color: initial;
			color: $c-bg-primary;
		}

		.button:visited {
			color: white;
		}
	}
}

.row {
	max-width:100%;
}

.add-button-column {
	position: absolute;
	top: 25%;
	right: 0;
}

.divider {
	border-top: 1px solid;
	height: 0;
	margin-bottom: 1em;
}

.anchor {
	position: relative;
}

form {
	fieldset {
		min-width: 365px;
	}

	input[type="checkbox"] {
		font-size: 2.25em;
	}

	h4 {
		margin-top: 2em;
	}
}

.logo-small {
		width: 36px;
		height: 36px;
		margin: 3px;
}

#sidebar {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: $h-bottom-bar;
	left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sidebar {
	background-color: $c-bg-primary;
	color: $c-text-primary;

	h5 {
		// border: 2px solid black;
		background-color: $c-bg-secondary;
		box-shadow: 0px 2px;
		color: $c-text-secondary;
		margin-bottom: 1em;
	}

	.logo {
		max-width: 90%;
		margin: 2em 0;
		background-color: white;
		border-radius: 5px;
		padding:1em;
	}

	.selector {
		border-radius: 6px;
		font-size: 0.8em;
		background-color: darken($c-bg-primary, 5%);
		color: $c-bg-secondary;
	}

	.selector:hover {
		background-color: darken($c-bg-primary, 12%);
	}

	.active {
		background-color: darken($c-bg-primary, 12%);
	}

	.language {
		padding: 0.4em 0.8em;
		margin: 0.5em 0;
	}

	.collections-container {
		margin: 2em 0 0 0;
		padding-right: 0;
		text-align: center;

		div {
			position: relative;
		}

		.collection {
			margin: 0.5em 1em;
			padding: 0.25em;
		}

		#select-all {
			border-radius: 3px;
			margin: 0.5em 0.5em;
		}
	}
}

.row.cling-bottom {
	text-align: center;
	position: fixed;
	bottom: 0;
	margin:0;
	height: $h-bottom-bar;

	.color-hook {
		background-color: $c-bg-primary;
		padding: 1em 0 0 0;
	}

	.add-button-row {
		height: $h-bottom-bar/2;
	}

	.settings {
		font-size: 0.75em;
		background-color: $c-bg-secondary;
		color: $c-text-secondary;
		padding: 0.75em 0;

		a:hover, a:visited:hover, #logout-link:hover, #logout-link:visited:hover {
			background-color: initial;
			color: #666;
		}

		a:visited, #logout-link:visited {
			color: $c-bg-primary;
		}

		form {
			margin: 0;
		}

		#logout-link {
			background: none;
			border: none;
			color: #800404;
		  text-decoration: none;
		  line-height: inherit;
		}
	}
}

.c-secondary {
	background-color: $c-bg-secondary;
	color: $c-text-secondary;
}

.c-secondary:hover, .c-secondary:active {
	background-color: lighten($c-bg-secondary, 20%);
	color: $c-bg-primary;
}