html {
	position: relative;
}

body {
	height: 100%;
	position: static;
}

.full-height {
	min-height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.row {
	max-width:100%;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

fieldset {
	min-width: 365px;
}

.sidebar {
	background-color: $c-bg-primary;
	color: $c-text-primary;
}

#sidebar {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}


.logo-large {
		max-width: 90%;
		margin: 1em 0;
		background-color: white;
		border-radius: 5px;
		padding:1em;
	}

.logo-small {
	width: 36px;
	height: 36px;
	margin: 3px;
}

.settings {
	font-size: 0.75em;
}

.row.cling-bottom {
	background-color: $c-bg-secondary;
	color: $c-text-secondary;

	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 0.75em 0;
	margin:0;
}