.full-height {
	min-height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

#sidebar, .add-button-row, .settings, .color-hook {
	min-width: 180px !important;
}

body {
	min-width: 520px;
	z-index: 100;
}

// for tooltips
.tooltip p {
	font-size: 0.8em;
	color: white;
	margin-bottom: 0;
	padding: 3px 0;
}

@media print {
	.tooltip {
		display: none !important;
	}
}

//end for tooltips

.normal-link {
	color: $c-link-unchanging;
	text-decoration: underline;
}

.normal-link:hover {
	color: darken($c-link-unchanging, 15%)
}

.alert-box {
	top: -100px;
	position: fixed;
	z-index: 1000;
	width: 65%;
}

.emphasis-box {
	background-color: darken($c-bg-secondary, 5%);
	color: $c-text-secondary;
	padding: 1rem;
	margin-bottom: 0.75rem !important;
	border-radius: 3px;

	select {
		margin: 0;
		margin-top: 0.75em;
	}
}

html {
	position: relative;

	body {
		height: 100%;
		position: static;
	}

	main {
		padding-top: 2em;
		z-index: 100;
		background-color: white;

		a.regular-link, a.regular-link:visited {
			color: $c-link-unchanging;
			text-decoration: underline;
		}

		a:hover {
			background-color: initial;
			color: $c-bg-primary;
		}

		.button:visited {
			color: white;
		}
	}
}

.row {
	max-width:100%;
}

.add-button-column {
	position: absolute;
	top: 25%;
	right: 0;
}

.divider {
	border-top: 1px solid;
	height: 0;
	margin-bottom: 1em;
}

.anchor {
	position: relative;
}

form {
	fieldset {
		min-width: 365px;
	}

	input[type="checkbox"] {
		font-size: 2.25em;
	}

	h4 {
		margin-top: 2em;
	}
}

#sidebar {
	text-align: center;
	position: absolute;
	top: 0;
	bottom: $h-bottom-bar;
	left: 0;
	overflow-x: hidden;
}

.sidebar {
	background-color: $c-bg-primary;
	color: $c-text-primary;

	h5 {
		// border: 2px solid black;
		background-color: $c-bg-secondary;
		box-shadow: 0px 2px;
		color: $c-text-secondary;
		margin-bottom: 1em;
	}

	.logo {
		max-width: 90%;
		margin: 2em 0;
		background-color: white;
		border-radius: 5px;
		padding:1em;
	}

	.selector {
		border-radius: 6px;
		font-size: 0.8em;
		background-color: darken($c-bg-primary, 5%);
		color: $c-bg-secondary;
	}

	.selector:hover {
		background-color: darken($c-bg-primary, 12%);
	}

	.active {
		background-color: darken($c-bg-primary, 12%);
		color: $c-text-primary;
	}

	.language {
		padding: 0.4em 0.8em;
		margin: 0.5em 0;
	}

	.collections-container {
		margin: 2em 0 0 0;
		padding-right: 0;
		text-align: center;

		div {
			position: relative;
		}

		.message {
			padding: 0 1rem;
		}

		.collection {
			margin: 0.5em 1em;
			padding: 0.5em;

			a {
				color: inherit;
				background-color: inherit;
			}
		}

		.add-button {
			height: 1rem;
		}

		.add-button:hover, .add-button:active {
			height: 1.5rem;
			float: right;
		}

		#select-all {
			border-radius: 3px;
			margin: 0.5em 0.5em;
		}
	}
}

.row.cling-bottom {
	text-align: center;
	position: fixed;
	bottom: 0;
	margin:0;
	height: $h-bottom-bar;

	.color-hook {
		background-color: $c-bg-primary;
		padding: 1em 0 0 0;
		height: 100%;
	}

	.add-button-row {
		height: $h-bottom-bar/2;

		.button, .button:visited {
			border-radius: 3px;
			width: 90%;
			height: 90%;
			text-align: center;
			background-color: lighten($c-bg-secondary, 10%);
			padding-right: 1em;
			padding-left: 1em;
			color: $c-text-secondary;
		}

		#new-term {
			font-size: 0.75rem;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}

	.settings {
		font-size: 0.75em;
		background-color: $c-bg-secondary;
		color: $c-text-secondary;
		padding: 0.75em 0;
		height: 100%;

		a:hover, a:visited:hover, #logout-link:hover, #logout-link:visited:hover {
			background-color: initial;
			color: #666;
		}

		a:visited, #logout-link:visited {
			color: $c-bg-primary;
		}

		form {
			margin: 0;
		}

		#logout-link {
			background: none;
			border: none;
			color: #800404;
		  text-decoration: none;
		  line-height: inherit;
			margin: 0;
			padding: 0;
			font-size: inherit;

			i {
				padding-right: 3px;
			}
		}
	}
}

.c-secondary {
	background-color: $c-bg-secondary;
	color: $c-text-secondary;
}

.c-secondary:hover, .c-secondary:active {
	background-color: lighten($c-bg-secondary, 20%);
	color: $c-bg-primary;
}