// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
	color: white;

	.logo {
			height: 39px;
			margin: 3px;
		}

	.logo:hover {
		height: 41px;
		margin: 2px;
	}

	a.logo-link:hover, a.logo-link:active {
		background-color: inherit;
	}
}

#remember {
	margin: 10px;
}

.reveal-modal {
	z-index: 101;
}

.top-padded {
	padding-top: 1em;
}

.feature-header {
	h4 {
		text-align: center;
	}
	p {
		text-align: justify;
	}
	.button {
		width: 90%;
	}
	.button-centerer {
		text-align: center;
	}
}

.orbit-container {
	max-width: 90%;

	.orbit-prev, .orbit-next {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.orbit-slides-container > * .orbit-caption {
		background-color: rgba(0, 0, 0, 0.85);
	}
}
